services:
  app:
    build: .
    container_name: backend-course-2025-7-app
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - .:/usr/src/app     
      - cache_data:/cache
